.serviceRow{
    padding-top: 100px;
}
.serviceCol{
    padding-left: 180px;
}
.rightserviceCol{
    padding-right: 180px;
}
.serviceText h1{
    font-size: 72px;
    font-family: Bebas Neue;
}
.serviceText h4{
    font-weight: 400;
}
.serviceText p{
    font-size: 20px;
    color: #88949e;
    max-width: 380px;
    font-weight: 350;
}
.rightserviceText h5{
    font-size: 25px;
    font-family: Bebas Neue;
}
.rightserviceText p{
    font-size: 20px;
    color: #88949e;
}
